<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.symantec.yamba"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.symantec.yamba.StatusActivity"
            android:label="@string/app_name" >
        </activity>
        <activity android:name="com.symantec.yamba.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.symantec.yamba.SettingsActivity"
            android:label="@string/action_settings" >
        </activity>

        <service android:name="com.symantec.yamba.RefreshService" >
        </service>

        <provider
            android:name="com.symantec.yamba.StatusProvider"
            android:authorities="com.symantec.yamba.provider.status"
            android:exported="false" >
        </provider>

        <activity
            android:name="com.symantec.yamba.DetailsActivity"
            android:label="@string/title_activity_details" >
        </activity>

        <receiver android:name="com.symantec.yamba.BootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.symantec.yamba.action.UPDATE_INTERVAL" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.symantec.yamba.NotificationReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.symantec.yamba.action.NEW_STATUS" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.symantec.yamba.YambaWidget"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.symantec.yamba.action.NEW_STATUS" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/yamba_widget" />
        </receiver>
    </application>

</manifest>